<?xml version="1.0"?>


<configuration>
  <connectionStrings>
    <add name="mycon" connectionString="Data Source=.;Initial Catalog=JOB1;Integrated Security=True"
      providerName="using System.Data.SqlClient" />
    <add name="JOB1ConnectionString" connectionString="Data Source=.;Initial Catalog=JOB1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
      <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>

</configuration>
